.main-nav {
    position: relative;
    background-color: #000;
    padding: 16px 0;
}

.header-bottom-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-repeat: no-repeat;
    background-size: 80% 0%;
    background-size: cover;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.nav-links-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    font-size: 1rem;
}

.nav-link a {
    text-decoration: none;
    color: #fff;
    padding: 4px 8px;
}

.nav-link a:hover {
    color: rgb(86, 86, 237);
    transition: .5s color ease;
}

a.active-link, a.active-link:hover {
    color: blue;
}