.footer {
    background-repeat: no-repeat;
    background-position: 20% 97%;
    background-size: cover;
    padding-bottom: 32px;
}
.footer-grid {
    display: flex;
    padding: 18px 0 ;
}

.footer-links-section-wrapper {
    display: flex;
    width: 50%;
}

.footer-links-section-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 8%;
}

.footer-link-section-title-text, .newsletter-title {
  font-size: 1.125rem;
    color: #fff;
}

.footer-link a {
  font-size: 1rem;
    color: #7d99ac;
    text-decoration: none;
    margin: 8px 0;
    display: inline-block;
    padding: 4px 0 10px;
    margin: 5px 0;
    border-bottom: 1px solid #34536a;
    width: 100%;
}


.footer-newsletter-section {
    width: 50%;
    display: flex;
    padding-left: 10px;
}
.newsletter-description {
    color: #7d99ac;
    padding-top: 4px;
}

.newsletter-content {
    width: 100%;
}

.footer-newsletter-section form input {
    width: 60%;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    
}

 button.primary-btn {
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    background-color: #207ecc;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
}

 button.primary-btn:hover {
    background-color: #0b5ea3;
}

.copyright-text {
    font-size: 16px;
    color: #476274;
}


@media  (max-width:768px) {
    .footer {
        background-position: 98%;
    }
    .footer-grid {
        flex-direction: column;
    }
    .footer-links-section-wrapper {
        width: 100%;
        gap: 10%;
    }
    .footer-newsletter-section {
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
    }

    .footer-links-section-column {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .copyright-text {
        text-align: center;
        margin-top: 30px;
    }

    .footer-newsletter-section form input {
        width: 70%;
        margin-bottom: 10px;
    }
}

@media  (max-width:1024px) {
    .footer {
        background-position: 91%;
    }
}